
{% extends 'main_app/base.html' %}

{% block content %}
{% load static %}
<div class="container mt-3">
    <div class="row">
    
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                
                    <h1> Meet with Faisal Zamir (JafriCode CEO):</h1>

                    <p>Faisal Zamir is a Udmey-rated instructor from Pakistan, having millions of students enrolled in different courses like Python, Javascript, web designing, etc.</p>
                    <img src="{% static 'assets/img/faisal zamir.png' %}" class="img-fluid" alt="Description of your image">

                    <p>He created different platforms where you can learn Python in text form, there are beneficial articles written on his blog as PythonProSupport. If you are interested in his teaching style, online live webinar, make money courses, etc you can follow him on YouTube also.</p>
                    <h2>Uniqueness in My Teaching:​</h2>
                    <p>Our effort is to provide content in a unique style that helps students understand any difficult topic more simply:</p>
                    <h3>Some of our unique characteristics:</h3>
                    <ul>
                        <li>Course topics management</li>
                        <li>Course breaking into proper outlines</li>
                        <li>Example to Clear Topics</li>
                        <li>Assignments</li>
                        <li>Exercises and Solution</li>
                        <li>Quiz</li>
                        <li>Good video and audio quality</li>
                        <li>Source code (with every course)</li>
                        <li>PPT Slides</li>
                    </ul>
                    
                    <h3>I want to share something with my students.</h3>
                    <ul>
                        <li>Don't waste your time</li>
                        <li>Be a hard worker</li>
                        <li>Always be positive</li>
                        <li>You should learn any skill if you want to become great</li>
                        <li>Your skills can help you in every field of life</li>
                        <li>I did not mean to always open the laptop and read a book; I want to say that learn any skill and try to solve people's problems</li>
                        <li>You can do great things!</li>
                    </ul>
                    
                </div>
               
            </div>
        </div>
    </div>

    {% endblock %}

